Test if we can better process the given input files by using more pandas functionality

In [138]:
import pandas as pd
from Utils import Utils

def read(forum:str):
    df = pd.read_csv(f"data/discussion-{forum}.csv")
    forum_name = f"P-{forum}"
    df['forum'] = forum_name
    df[forum_name] = 1
    return df

df1 = read(1)
df2 = read(2)
df3 = read(3)
df4 = read(4)
df5 = read(5)

df = pd.concat([df1,df2,df3,df4,df5])
df

,id,discussion,parent,userid,userfullname,created,modified,mailed,subject,message,...,privatereplyto,privatereplytofullname,wordcount,charcount,forum,P-1,P-2,P-3,P-4,P-5
0,3071451,1102169,0,107781,Van Papadopoulos,"Monday, 27 November 2023, 2:25 PM","Monday, 27 November 2023, 2:25 PM",1,Why banks are fragile and prone to runs and sy...,Any ‘system’ or ‘structure’ which is based on ...,...,0,NaN,693,3576,P-1,1.0,NaN,NaN,NaN,NaN
1,3073141,1102169,3071451,146615,Giselle Moni,"Tuesday, 28 November 2023, 10:49 AM","Tuesday, 28 November 2023, 10:49 AM",1,Re: Why banks are fragile and prone to runs an...,Thank you @van\n\nMy understanding of the SVB ...,...,0,NaN,230,1146,P-1,1.0,NaN,NaN,NaN,NaN
2,3073524,1102169,3073141,122955,Victoria Kariithi,"Tuesday, 28 November 2023, 1:39 PM","Tuesday, 28 November 2023, 1:41 PM",1,Re: Why banks are fragile and prone to runs an...,Some reasons as to why banks are fragile and p...,...,0,NaN,152,871,P-1,1.0,NaN,NaN,NaN,NaN
3,3073213,1102759,0,146615,Giselle Moni,"Tuesday, 28 November 2023, 11:11 AM","Tuesday, 28 November 2023, 11:11 AM",1,Art of running a Profitable Bank: Why banks ar...,Despite extensive internal control risk mitiga...,...,0,NaN,312,1731,P-1,1.0,NaN,NaN,NaN,NaN
4,3076106,1102759,3073213,141628,Anton Stamme,"Wednesday, 29 November 2023, 6:20 PM","Wednesday, 29 November 2023, 6:20 PM",1,Re: Art of running a Profitable Bank: Why bank...,Thanks Giselle for the comprehensive overview ...,...,0,NaN,150,853,P-1,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,3129619,1120374,0,127036,Anderson Ping Shi Lee,"Tuesday, 2 January 2024, 4:32 PM","Tuesday, 2 January 2024, 4:32 PM",1,Regulation of Crypto around the world,The creation of Cryptocurrencies is to simplif...,...,0,NaN,122,614,P-5,NaN,NaN,NaN,NaN,1.0
28,3129621,1120376,0,142481,Horacio Martinez,"Tuesday, 2 January 2024, 4:39 PM","Tuesday, 2 January 2024, 4:39 PM",1,Value drivers,I think that a possible value drivers of crypt...,...,0,NaN,235,1190,P-5,NaN,NaN,NaN,NaN,1.0
29,3129680,1120400,0,147178,Wendy Roe,"Tuesday, 2 January 2024, 7:23 PM","Tuesday, 2 January 2024, 7:23 PM",1,What Makes Crypto Prices Go Up or Down?,The radical innovation of Bitcoin created a ca...,...,0,NaN,464,2610,P-5,NaN,NaN,NaN,NaN,1.0
30,3129750,1120417,0,120955,Anthony Martins,"Tuesday, 2 January 2024, 8:53 PM","Tuesday, 2 January 2024, 8:53 PM",1,Value Drivers within the Crypto Space,Value drivers of cryptocurrencies range in man...,...,0,NaN,588,3103,P-5,NaN,NaN,NaN,NaN,1.0
31,3129768,1120421,0,151553,Ioannis Petrou,"Tuesday, 2 January 2024, 9:55 PM","Tuesday, 2 January 2024, 9:55 PM",1,Crypto regulation,Regulatory environment: Cryptocurrencies opera...,...,0,NaN,104,727,P-5,NaN,NaN,NaN,NaN,1.0

Group data

In [151]:
grouped = df[['userfullname','forum']].groupby(by=['userfullname','forum'], as_index=False).size().sort_values(by=['userfullname'])
print (grouped)

            userfullname forum  size
0    ACHILLES KOUTSOUKOS   P-1     1
1    ACHILLES KOUTSOUKOS   P-2     1
2    Adalbert De La Cruz   P-1     1
3    Adalbert De La Cruz   P-2     1
4    Adalbert De La Cruz   P-3     1
..                   ...   ...   ...
240             yunze li   P-3     1
241             yunze li   P-4     1
238             yunze li   P-1     1
239             yunze li   P-2     1
242             yunze li   P-5     1

[243 rows x 3 columns]

In [140]:
forums = pd.DataFrame(df.forum.unique(), columns=['forum'])
ids =  pd.DataFrame(df.userfullname.unique(), columns=['userfullname'])
product = ids.merge(forums, how='cross').sort_values(by=['userfullname','forum'])

product

            userfullname forum
115  ACHILLES KOUTSOUKOS   P-1
116  ACHILLES KOUTSOUKOS   P-2
117  ACHILLES KOUTSOUKOS   P-3
118  ACHILLES KOUTSOUKOS   P-4
119  ACHILLES KOUTSOUKOS   P-5
..                   ...   ...
200             yunze li   P-1
201             yunze li   P-2
202             yunze li   P-3
203             yunze li   P-4
204             yunze li   P-5

[355 rows x 2 columns]

In [141]:
merged = pd.merge(product, grouped, on=['userfullname','forum'], how='left').sort_values(by=['userfullname','forum'])
merged.fillna(0)

            userfullname forum   id
0    ACHILLES KOUTSOUKOS   P-1  1.0
1    ACHILLES KOUTSOUKOS   P-2  1.0
2    ACHILLES KOUTSOUKOS   P-3  0.0
3    ACHILLES KOUTSOUKOS   P-4  0.0
4    ACHILLES KOUTSOUKOS   P-5  0.0
..                   ...   ...  ...
350             yunze li   P-1  1.0
351             yunze li   P-2  1.0
352             yunze li   P-3  1.0
353             yunze li   P-4  1.0
354             yunze li   P-5  1.0

[355 rows x 3 columns]

In [144]:
# flatten list
forums_list = [x for row in forums.values.tolist() for x in row]
df[forums_list + ['userfullname']].fillna(0).groupby(by=['userfullname'], as_index=False).size().sort_values(by=['userfullname'])

           userfullname  size
0   ACHILLES KOUTSOUKOS     2
1   Adalbert De La Cruz     3
2          Aila Obiocha     3
3       Albert Oscarina     5
4      Aliki Panagiotou     2
..                  ...   ...
66            Wendy Roe     7
67      William Knowlin     3
68     Zvonimir  Sculac     2
69         peter foulke     6
70             yunze li     5

[71 rows x 2 columns]